<div class="wrapper">
	<div data-dinnaco-header></div>
	<!-- header end -->
	<div class="dashboard-container">
		<div class="dashboard-content container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-3 col-lg-3 left-side-col">
					<div class="left-side-bg">
						<div class="user-info">
							<div class="user-pic"><img src="i/user-pics/user_pic_16.jpg" alt="user pic"></div>
							<p class="name">Chistina Snow</p>
							<p class="job-position">Socail Media Consutant Dinnaco, NYC</p>
							<div class="email"><a href="javascript:;"><span class="email-icon"></span>csnow@dinnaco.com</a></div>
							<div class="phone"><a href="tel:1-847-555-5555"><span class="phone-icon"></span>1-847-555-5555</a></div>
							<p class="desc">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisqu.</p>
						</div>
						<!-- user-info end -->
						<a href="javascript:;" class="update-profile-btn dinnaco-btn">UPDATE PROFILE</a>
					</div>
					<!-- left-side-bg end -->
				</div>
				<!-- left-side-col end -->
				<div class="col-sm-9 col-md-9 col-lg-9 right-side-col quiz-taken">
					<div class="switching-learn">
						<div class="switching">
							<h4>Opt-In to Switching Process</h4>
							<p>Content explaining the importance of counselor switching. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
							<a href="javascript:;" class="switching-btn dinnaco-btn">INITIATE COUNSELOR SWITCHING</a>
						</div>
						<!-- switching end -->
						<div class="learn-more">
							<p>By clicking the button, you will opt-in to the switching process</p>
							<a href="javascript:;">Learn more about switching process</a>
						</div>
					</div>

					<div class="top-preferences">
						<p class="title">Top Preferences</p>
						<div class="row top-pref-row">
							<div class="col-sm-4 col-md-4 col-lg-4 align-center">
								<div class="location-icon"></div>
							</div>
							<div class="col-sm-4 col-md-4 col-lg-4 align-center">
								<div class="screen-icon"></div>
							</div>
							<div class="col-sm-4 col-md-4 col-lg-4 align-center">
								<div class="industry-icon"></div>
							</div>
						</div>
						<div class="row top-pref-row">
							<div class="col-sm-4 col-md-4 col-lg-4 align-center">
								<p>Same City</p>
							</div>
							<div class="col-sm-4 col-md-4 col-lg-4 align-center">
								<p>Low-Touch Interaction</p>
							</div>
							<div class="col-sm-4 col-md-4 col-lg-4 align-center">
								<p>Same Industry</p>
							</div>
						</div>
					</div>
				</div>
				<!-- right-side-col end -->
			</div>
			<!-- row end -->
		</div>
		<!-- left-side-col end -->
	</div>
	<!-- dashboard-container end -->

	<div data-counselor-switch-modal data-ng-show=""></div>
	<!-- counselor-switch-modal end -->
	<div class="bg-overlay" data-ng-show=""></div>
</div>
<!-- wrapper end -->



