<div class="new-counselee-modal-container">
	<div class="new-counselee-content">
		<a href="javascript:;" class="close-grey-icon" data-ng-click="showNewCounseleeApp = false"></a>
		<div class="new-manager-assigned" data-ng-show="showManagerAssigned">
			<p class="welcome">Welcome back, Christina!</p>
			<p class="meet">Meet Your New Counselor</p>
			<div class="counselor-info">
				<div class="counselor-pic">
					<div class="counselor-progress" data-counselor-progress-bar data-options="progressOptions"></div>
					
					<img src="i/user-pics/user_pic_21.jpg" alt="user pic" class="user-pic">
				</div>
				<div class="counselor-name">
					<p class="matches-percent">63.7<span class="percent">%</span></p>
					<p class="name">Kelly Clarkson</p>
				</div>
			</div>
			<!-- counselor-info end -->
			<a href="javascript:;" class="dinnaco-btn profile-btn" data-ng-click="goProfileCounselor()">VIEW PROFILE</a>
		</div>
		<!-- new-manager-assigned end -->
	</div>
	<!--new-counselee-content-->
</div>
<!--new-counselee-modal-container-->